streamlit==1.27.0
markdown-it-py==4.0.0
pygments==2.19.2
mdurl==0.1.2
Pillow==9.5.0
ultralytics==8.2.1
torch==2.2.0
torchvision==0.17.3
rich==14.2.0
opencv-python-headless==4.8.1.78
numpy==1.26.0
